<%- include('../templates/header.ejs'); %>

    <body>
        <div class="container-fluid dd">
            <nav style="margin-bottom:0;" class="navbar navbar-expand-lg navbar-dark bg-trans">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/Admin">Home <span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                    <a style="width: 1%;" href="/Notif"><img style="width: 100%;"
                            src="../../images/notification.png"></a>
                    <img style="width: 1%;margin-left: 2%;" src="../../images/user.svg">
                    <p class="nav-item nav-link">User Name</p>
                    <a style="width:1% ;" href="/"><img style="width: 150%;" src="../../images/log-out.png"></a>

                </div>
            </nav>
            <table style="display: none;" class="table table-bordered  table-bg">
                <h1 class="k" style="color: white; text-align: center; margin-top: 30px; font-size: 50px;">Branches</h1>
                <tbody>
                    <tr>
                        <td class="hd" scope="row">ID</td>
                        <td class="hd">Location</td>
                        <td class="hd">Phone Number</td>
                    </tr>

                    <%Branch.forEach(row=>{%>
                        <tr>
                            <td scope="row">
                                <%=row.Branch_ID%>
                            </td>
                            <td>
                                <%=row.Location%>
                            </td>
                            <td>
                                <%=row.Phone_Num%>
                            </td>
                        </tr>
                        <%});%>

                </tbody>
            </table>

            <form action="">
                <button style="width: 50%; margin-left: 25%;" type="button" class="btn btn-danger" data-toggle="modal"
                    data-target="#exampleModal" data-whatever="@mdo">Add Branch</button>

                <button style="width: 50%; margin-left: 25%; margin-top:1%" type="button" class="btn btn-danger"
                    data-toggle="modal" data-target="#Remove" data-whatever="@mdo">Remove Branch</button>

                <button style="width: 50%; margin-left: 25%; margin-top:1%" type="button" class="btn btn-danger"
                    data-toggle="modal" data-target="#GetEmployee" data-whatever="@mdo">Get Employees In Specific
                    Branch</button>

                <button style="width: 50%; margin-left: 25%; margin-top:1%" type="button" class="btn btn-danger"
                    data-toggle="modal" data-target="#GetDoctors" data-whatever="@mdo">Get Doctors In Specific
                    Branch</button>
            </form>

        </div>



        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Branch</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/Admin/Branches" method="POST">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Location</label>
                                <input name="Location" style="border: 1px solid rgba(77, 76, 76, 0.357);" type="text"
                                    class="form-control" id="Location">
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Phone Number</label>
                                <input name="PhoneNum" style="border: 1px solid rgba(77, 76, 76, 0.357);" type="text"
                                    class="form-control" id="Phone-Number">
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">Add Branch</button>
                    </div>
                    </form>


                </div>
            </div>
        </div>

        <div class="modal fade" id="Remove" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Remove Branch</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/Admin/Branches" method="POST">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Branch ID</label>
                                <input name="BranchID" style="border: 1px solid rgba(77, 76, 76, 0.357);" type="text"
                                    class="form-control" id="Location">
                            </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">Remove Branch</button>
                    </div>
                    </form>


                </div>
            </div>
        </div>

        <div class="modal fade" id="GetEmployee" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Get Employees In Specific Branch</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/Admin/Branches" method="POST">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Branch ID</label>
                                <input name="BranchIDEmp" style="border: 1px solid rgba(77, 76, 76, 0.357);" type="text"
                                    class="form-control" id="Location">
                            </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">Get Employees</button>
                    </div>
                    </form>


                </div>
            </div>
        </div>

        
        <div class="modal fade" id="GetDoctors" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Get Doctors In Specific Branch</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/Admin/Branches" method="POST">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Branch ID</label>
                            <input name="BranchIDDr" style="border: 1px solid rgba(77, 76, 76, 0.357);"
                                type="text" class="form-control" id="Location">
                        </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Get Doctors</button>
                </div>
                </form>


            </div>
        </div>

    </body>
    <%- include('../templates/footer.ejs'); %>